.cta {
  text-align: center;
   .mdl-typography--title {
    font-weight: 300;
  }
   .mdl-button {
    margin-top: 24px;
  }
   .landing-image{
    display: block;
    background: no-repeat;
    background-size: cover;
    width: auto;
    max-height: 250px;
    margin: 0 auto;
  }
}

