.umb-grid .mdl-grid {
  max-width: 1000px;
}

/* Responsive Images */
img {
  width: 100%;
  height: auto;
}

figure.te2u--logo {
  height: 50px;
  background: no-repeat center;
  background-size: contain;
}

/*Contact Form Error message visibility*/
#contact-form .mdl-textfield__error {
  visibility: visible;
}

.icon-circle {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  margin-bottom: -5px;
  margin-right: 10px;
  padding: 0;
  overflow: hidden;
  background: #8bc34a;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  display: inline-block;
  font-style: normal;
  font-size: 16px;
  line-height: 38px;
  text-align: center;
  position: relative;
  top: 5px;
}

.icon-bubble {
  display: block;
  margin: 45px auto;
  height: 90px;
  width: 90px;
}

.icon-bubble-right {
  border-radius: 50% 50% 0 50%;
}

.icon-bubble-left {
  border-radius: 50% 50% 50% 0;
}

.icon-bubble.material-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 60px;
  color: #ffffff;
  background: #8bc34a;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.12), 2px 2px rgba(0, 0, 0, 0.12);
}

.collapsible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 2px;
  box-sizing: border-box;
  list-style-type: none;
  width: 100%;
  background: #ffffff;
}

.collapsible > :last-child .collapsible--header {
  margin-bottom: 0;
}

.show-body .collapsible--body {
  display: block;
}

.collapsible--header {
  background-color: #8bc34a;
  padding: 8px;
  margin-top: 0;
  margin-bottom: 2px;
  cursor: pointer;
  position: relative;
}

.collapsible--body {
  padding: 8px;
  background: #ffffff;
  display: none;
}

.pricing-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  border-radius: 2px;
  box-sizing: border-box;
}

.pricing-table .mdl-button {
  color: #616161;
}

.pricing-table.featured .mdl-button {
  color: #424242;
}

.pricing-table--title {
  padding: 10px 0;
  font-size: 24px;
  text-transform: uppercase;
  background-color: #eeeeee;
  color: #616161;
}

.featured .pricing-table--title {
  background-color: #7cb342;
  color: #424242;
}

.pricing-table--subtitle {
  padding: 30px 0 0 0;
  background-color: #f5f5f5;
  color: #616161;
}

.featured .pricing-table--subtitle {
  background-color: #8bc34a;
  color: #424242;
}

.pricing-table--description {
  padding: 0;
  margin: 0;
}

.pricing-table--features {
  padding: 16px 16px 0 16px;
}

.triangle:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 400px 0 0;
  overflow: hidden;
  border-color: #f5f5f5 transparent transparent transparent;
}

.featured .triangle:after {
  border-color: #8bc34a transparent transparent transparent;
}

.te2u {
  padding: 24px 0;
}

.mdl-typography--display-1 {
  font-weight: 300;
  color: #8bc34a;
  text-align: center;
}

.dark-2 {
  background: #f1f8e9;
}

.dark {
  background-color: #f5f5f5;
}

.dark-3 {
  background-color: #8bc34a;
}

.dark-3 .mdl-typography--display-1 {
  color: #424242;
}

.cta {
  text-align: center;
}

.cta .mdl-typography--title {
  font-weight: 300;
}

.cta .mdl-button {
  margin-top: 30%;
}

.icon-market.material-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 60px;
  color: #ffffff;
  background: #8bc34a;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.12), 2px 2px rgba(0, 0, 0, 0.12);
}

.card-padding :not(material-icons) {
  padding: 0 16px 0 16px;
}

img.picture {
  display: block;
  background: no-repeat;
  background-size: cover;
  width: auto;
  max-height: 150px;
  margin: 0 auto;
  border-radius: 50%;
}

.faq-contact {
  padding-top: 32px;
}

.faq-contact span {
  padding-right: 16px;
}

.office-picture {
  width: 100%;
}

.office-picture--container {
  height: 250px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trust-pilot-demo {
  height: 150px;
  width: auto;
}
