include ../_mixins.pug
section.te2u
    .mdl-grid.max-width
        .mld-cell.mdl-cell--12-col
            h1.mdl-typography--display-1 Services
        .mdl-grid
            .mdl-cell--12-col.collapsible.mdl-grid.mdl-grid--no-spacing
                each val in [1,2,3,4]
                    .mdl-cell.mdl-cell--12-col.service-table.mdl-shadow--2dp.collapsible--row
                        .mdl-cell.mdl-cell--12-col.service-table--heading.collapsible--header
                            h2.mdl-typography--headline First Consultation
                        .collapsible--body.mdl-grid.mdl-grid--no-spacing
                            .mdl-cell.mdl-cell--3-col.mdl-cell--2-col-tablet.mdl-cell--4-col-phone.service-table--objectives
                                h3.mdl-typography--title Key objectives
                                ul
                                    li Provide valuable feedback to further your language development
                                    li Help choosing right course of action
                                    li Give a brief understanding of our courses
                            .mdl-cell.mdl-cell--6-col.mdl-cell--4-col-tablet.service-table--method
                                h3.mdl-typography--title What happens?
                                p
                                    strong Short meeting 1-on-1 where we test your current english level and your particular needs
                                p During this you will get a thorrow understanding on what will benefit you the most as further action
                                p
                                    strong You will recieve:
                                ul
                                    li Audio file 10-15 minutes summarising on what you could work on in regards to your language skills
                                    li Suggestion of our next courses to select which we think will fit your needs the most
                            .mdl-cell.mdl-cell--3-col.mdl-cell--2-col-tablet.mdl-cell--4-col-phone.service-table--length
                                h3.mdl-typography--title Length
                                p Approx 20 minutes

