@import '../_colors';

.service-table {
  background: $color-white;
  &--heading{
   background-color: $color--light-green-500;
    padding: 16px;
    h2 {
      margin: 0;
    }
  }
  &--objectives, &--method, &--length{
    .mdl-typography--title{
    }
    padding: 16px;
    h3 {
      margin:0;
      padding-bottom: 16px;
      color: $color--light-green-500;
    }
  }
  &--objectives{
    border-right: 1px solid $color--grey-200;
    border-bottom: 1px solid $color--grey-200;

  }
  &--method {
    border-right: 1px solid $color--grey-200;
    border-bottom: 1px solid $color--grey-200;
  }
  &--length{

  }
}