include ../_mixins.pug


section.te2u
    +container
        +sectionTitle("Contact Us")
           .mdl-cell.mdl-cell--6-col
                h2.mdl-typography--title Thank you Marius
                h4.mdl-typography--subhead We got your message and we will get back to you as soon as we can!

