include ../_mixins.pug

section.te2u
    +container
        .mdl-cell.mdl-cell--4-col
            .pricing-table.mdl-typography--text-center
                .pricing-table--title
                    h2.mdl-typography--title Basic
                .pricing-table--subtitle
                    .pricing-table--price
                        span.mdl-typography--display-2 600
                        strong dkk
                    h6.pricing-table--description best for beginners
                ul.pricing-table--features
                    li.pricing-table--feature some very long features
                    li.pricing-table--feature another features
                    li.pricing-table--feature some very long features
                    li.pricing-table--feature another features

        .mdl-cell.mdl-cell--4-col
            .pricing-table.mdl-shadow--2dp.mdl-typography--text-center.featured
                .pricing-table--title
                    h2.mdl-typography--title Featured
                .pricing-table--subtitle
                    .pricing-table--price
                        span.mdl-typography--display-2 999
                        strong dkk
                    h6.pricing-table--description best value
                ul.pricing-table--features
                    li.pricing-table--feature Some very long features
                    li.pricing-table--feature Another features
                    li.pricing-table--feature some very long features some very long features some very long features
                    li.pricing-table--feature another features
