include ../_mixins.pug
section.te2u.dark-3
    +container
        +sectionTitle("See our price plans")
            .mdl-typography--text-center
                +sectionSubtitle("We offer number of different pricing options based on your particular needs")
                    a.mdl-button.mdl-button--raised.mdl-button--accent See Prices
