include ../_mixins.pug
section.te2u.dark-3
    +container
        +sectionTitle("Select a crouse best suiting your needs")
            +sectionSubtitle("We offer variaty of courses with the focus on individualised and quick english communication improvments")
                .mdl-typography--text-center
                    a.mdl-button.mdl-button--raised.mdl-button--accent See Courses
