include ../_mixins.pug
section.te2u
    +container
        +sectionTitle("We are highly valued by our customers")
            .mdl-cell.mdl-cell--12-col.mdl-typography--text-center
                img.trust-pilot-demo(src="img/frontPage/trustPilot/trustPilot.png")