mixin container
    .mdl-grid
        block

mixin sectionTitle(value)
    .mdl-cell--12-col
        h2.mdl-typography--display-1= value
        block

mixin sectionSubtitle(value)
    p.mdl-typography--subhead= value
    block
